<h1>Editing Committee</h1>
<% @state = true%>
<% if @committee.conference.chairid == current_account.id %>
    <%= render 'form2', committee: @committee, conference: @committee.conference %>
    <% @state = false %>
    <%= link_to 'Show', @committee %>
    <%= link_to 'Back', committees_path %>
<% end %>
<% if(@state) %>
    <h3>Silly hacker this is not for you.</h3>
<% end %>